# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment Variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test cache
.pytest_cache/

# Build
build/
dist/

# TensorFlow checkpoints
checkpoints/

# Results (optional)
results/

# Ignore dataset (remove this line if you want to upload the dataset)
dataset/